*{
  outline: none;
}
.App {
  background-color: whitesmoke;
  text-align: center;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 0%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  justify-content: flexbox;
  display: flexbox;
}

.footer{
  background-color: whitesmoke;
  padding-bottom: 0%;
  bottom:20%;
}

.footer-text{
  font-size: 30px;
  font-family: 'Roboto', sans-serif; 
  color: rgb(105,105,105);
}


.footerbutton{
  color: #c0adc4;
}
.footpar{
  font-size: small;
  color: #282c34;
}
  
.navhead{
  text-align: center;
  background-color: rgb(rgb(46,103,248));
  height: 17%;
  margin-top: -7%;
  justify-content:center;
}
.hyperlink{
  font-size: large;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 30%;
}
.estimateprice{
  margin-top: -4.5%;
  background-color: ghostwhite;
  border-radius: 10%;
  font-size: medium;
  padding-top: 7%;
  padding-bottom: 5%;
  color: #cfb9d3;
}

.HeaderTop {
  text-align: center;
  background-color: ghostwhite;
  height: 100 px;
  margin-top: -25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Dark-Section{
  background-color: #2E67F8;
  
  padding: 100px;
  height: 150px;
}

.Light-Section{
  background-color: #2E67F8;
  padding: 200px;
  height:300px;
  margin-top: -25px;

}

.heading{
  animation: Name-Enter 1 2s linear;
  text-align: center;
  letter-spacing: 6%;
  font-size: 300%;
  color: rgb(248,248,255);
  font-family: 'Roboto', sans-serif;
  margin-top: -10%;
}

.para{
  font-size: x-large;
  background-color: ghostwhite;
  margin-top: 180px;
  margin-left: 10%;
  border-radius: 50px;
  margin-right: 10%;
  color: rgb(167, 167, 167);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 1.5%;
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10% + 2vmin);
  color: rgb(248, 234, 234);
}
@media (prefers-reduced-motion: no-preference) {
  .names {
    animation: Name-Enter 1 2s linear;
    text-align: left;
    letter-spacing: 100px;
    margin-left: 15px;
    font-size: 70px;
    color: ghostwhite;

  }
}

.App-link {
  color: ghostwhite;
}



.description{
  color: ghost;
  margin-top: -50px;
  margin-bottom: 20px;
  
}

.search-field
{
  height: 120%;
  padding: 1.5%;
  padding-left: 10%;
  border: 10%;
  border-radius: 25px;
  outline: 10%;
  margin-top: -10%;
  margin-left: 2%;
}

/* Button CSS */
.button-home{
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: -0.5%;
  background-color: #2E67F8;
  color: ghostwhite;
  border: none;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display:inline-flexbox;
  position:relative;
  margin-right: 18px;
  right: -400px;
  top: 50px;
}
.button-home:hover{
  transform: translateY(-0.25rem);
  transition: transform 200ms;
  cursor:pointer;
  background-color: #628efc;

}


.search-btn
{
  height: 50px;
  width: 8%;
  background-color: #2E67F8;
  border: none;
  color: ghostwhite;
  border-radius: 25px;
  margin-left: 2%;
  margin-top: -5%;
  margin-bottom: 3%;
  justify-items: top;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.search-btn:hover{
  background:  #628efc;
  cursor: pointer;
}

.page-button{
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 1%;
  margin-top: 2%;
  background-color: #2E67F8;
  color: ghostwhite;
  border: none;
  color:ghostwhite;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display:inline-flexbox;
  position:relative;
  min-width: 3em;
}
.page-button:hover{
  transform: translateY(-0.25rem);
  transition: transform 200ms;
  cursor:pointer;
  background-color:  #628efc;
}

.hor-flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.greenBtn{
  background-color:#2E67F8;
  margin-top: 100px;
  color: ghostwhite;
  padding: 1% 2%;
  border-radius: 6px;
}

.blueBtn{
  background-color: #2E67F8;
  border: none;
  color: ghostwhite;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 6px 6px #0a020c;
  margin: 5px;
  margin-right: 10px;
  width: 180px;
}
.aboutbtn{
  background-color: #2E67F8;
  border: none;
  color: ghostwhite;
  padding: 1% 3%;
  border-radius: 6px;
  box-shadow: 6px 6px ghostwhite;
  margin-top: 5%;
}

.ayo{
  margin: none;
  top: .4%;
  left: 10.5%;
  font-family: 'Roboto', sans-serif; 
  color: dimgray;
  font-size: calc(48px + 2vmin);
  position: fixed;
  
}
.RegisterBox{
  background-color: ghostwhite;
  margin-top: 17%;
  padding-left: 70%;
  padding-right: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
}

.fileup{
  padding: 5px 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  background-color:ghostwhite ;
  border-radius: 5px;
  color: #000;
  font-size:small;
}
.debittxt{
  margin-top: 3%;
  font-size: small;
}
.logo{
  margin-top: 2%;
  left: 1%;
  border: 5px;
  position: fixed;
}
.whiteInput{
  background-color: rgb(223, 222, 222);
  border: none;
  width: 350px;
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  border-radius: 6px;
  box-shadow: 6px 6px #2E67F8;
  margin: 13px;
}

.largeInput{
  background-color: ghostwhite;
  border: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  box-shadow: 6px 6px #2E67F8;
  margin: 10px;
}

.App-header {
  background-color:ghostwhite;
  min-height: 800px;
  display: flex;
  margin-top: -346.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.detailedbackround{
  background-color: ghostwhite;
  height: 300px;
}
.fb{
  height: 12%;
  width: 10%;
  border: 5px;
  margin-right: 1%;
}

.fb:hover{
  transform: translateY(-0.25rem);
  transition: transform 200ms;
  cursor:pointer;
}
.fbfoot{
  height: 3%;
  width:3%;
  border: 5px;
  margin-right: 1%;
}
.fbfoot:hover{
  transform: translateY(-0.25rem);
  transition: transform 200ms;
  cursor:pointer;
}


.card{
  width: 500px;
  height: 200px;
  background: rgb(207, 205, 205);
  color: #3e508b;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px black;
  margin-left: 30em;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  display: flexbox;
  right: center;
  position:relative;
}

.cards-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Hanno CSS Code vir die user account page */
body{
  	background-size:100% 100%;
	font-family:"Roboto", sans-serif;
}
a.nostyle{
	color:inherit;
	text-decoration:none;
	padding:0;
	margin:0;
}
div.portfoliocard{
	position:relative;
	height:800px;
	width:1200px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(0,0,0,0.7);
	box-shadow:0px -1px 3px rgba(0,0,0,0.1),
				0px 2px 6px rgba(0,0,0,0.5);
	border-radius:6px;
	margin:10% auto;
	overflow:hidden;
	z-index:100;
}
.button{
  margin-top: 130px;
  padding: 10px 10px;
  background-color: rgb(150, 121, 126);
}
.profilehead{
  color: white;
  margin-left: 500px;
  font-size: 80px;
  margin-bottom: -100px;
}
div.portfoliocard div.coverphoto{
	width:100%;
	height:120px;
	background: #517e9c;
	background-position:center center;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
				1px 0px 2px rgba(255,255,255,0.7);
	z-index:99;
}
div.portfoliocard div.left_col, div.portfoliocard div.right_col{
	float:left;
	height:580px;
}
div.portfoliocard div.left_col{
	width:40%;
	padding-top:85px;
	box-sizing:border-box;
}
div.portfoliocard div.right_col{
	width:60%;
	background:rgba(245,245,245,1);
	border-left:1px solid rgba(230,230,230,1);
	box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
	margin-left:-1px;
	border-bottom-right-radius:5px;
}
div.portfoliocard img.profile_picture{
	width:110px;
	height:110px;
	background:rgba(255,255,255,1);
	position:absolute;
	top:65px;
	left:40px;
	border-radius:50%;
	padding:7px;
	border:4px solid rgba(255,255,255,1)
}
div.portfoliocard div.right_col h2.name{
	font-size:30px;
	font-weight:300;
	color: rgba(30,30,30,1);
	padding:0;
	margin:20px 10px 0px 30px;
}
div.portfoliocard div.right_col h3.location{
	font-size:15px;
	font-weight:300;
	color:rgba(170,170,170,1);
	padding:0;
	margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
	margin-top:20px;
	list-style-type:none;
}
div.portfoliocard ul.contact_information li{
	height:25px;
	width:350px;
	line-height:30px;
	font-weight:300;
	font-size:15px;
	color:rgba(140,140,140,1);
	text-shadow:1px 1px 1px rgba(255,255,255,0.8);
	padding:7px 0px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:0px 1px 1px rgba(255,255,255,0.6);
	cursor:default;
}
div.portfoliocard ul.contact_information li:before{
	content:"";
	width:25px;
	height:25px;
	display:block;
	float:left;
	background-position:center;
	background-size:18px 18px;
	background-repeat:no-repeat;
	margin-right:5px;
	opacity:0.7;
}
div.portfoliocard ul.contact_information li:hover:before{
	opacity:1;
}
div.portfoliocard ul.contact_information li.work:before{
	background-image: url('http://schulzmarcel.de/x/icons/case_24.png');
}
div.portfoliocard ul.contact_information li.website:before{
	background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
}
div.portfoliocard ul.contact_information li.mail:before{
	background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
}
div.portfoliocard ul.contact_information li.phone:before{
	background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
}
div.portfoliocard ul.contact_information li.resume:before{
	background-image: url('http://schulzmarcel.de/x/icons/inbox_24.png');
}
div.portfoliocard div.followers, div.portfoliocard div.following{
	margin:15px 0px 0px 35px;
	font-weight:300;
	font-size:16px;
	color:rgba(30,30,30,1);
}
div.portfoliocard div.follow_count{
	font-weight:400;
	font-size:25px;
	color:rgba(140,140,140,1);
}

.dropbox{
  padding: 5px 20px;
  border-radius: 5px;
}