.card{
    width: 500px;
    height: 220px;
    background: rgb(207, 205, 205);
    border-radius: 10px;
    margin-right: 40%;
    box-shadow: 0px 1px 10px 1px black;
    color: #3e508b;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    display: flexbox;
    right: center;
    position:relative;
}
.card:hover{
    background: rgb(226, 226, 226);
    transform: scale(1);
    cursor:pointer;

}

.price{
    margin-top: -30px;
    margin-left: 550px;
    font-size: 37px;

}

.rate{
    margin-top: -35px;
    margin-left: 550px;
    font-size: 20px;

}

.upper-container{
    height: 100px;
    background: linear-gradient(to left,#2d00f7,#ff0291);
    font-family: 'Montserrat', sans-serif;

}

.image-container img{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    margin-left: -900px;
    margin-top: 5%;
    transform: translate(95px,45px);
}

img{
}

.lower-container{
    height: 300px;
    margin-top: 60px;
    background: blueviolet;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.lower-container h3,h4,p{
    margin: 0;
    padding: 0;
}

.lower-container h3{
    color: #2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;
}

.lower-container h4{
    color: #8e00b9;
    font-weight: 700;
    font-size: 1.2rem;
}

.lower-container p{
    margin: 1rem;
    font-family: sans-serif;
    color: #2f2d2e;
    font-size: 0.9rem;
    text-align: justify;
    font-weight: 300;
}
.busname{
    font-size: x-large;
    position: relative; left: -10px; top: -140px;
    color: #0f3188;
    font-family: 'Roboto', sans-serif;
}

.email{
    font-size: 20px;
    color: #737374;
}

.button{
    color: #fff9fc;
    font: bold;
    background-color: rgb(135, 88, 148);
    border: 2px solid #4f2161;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

button:hover{
    background-image: linear-gradient(to left, #628efc);
    transform: scale(1.2);
    border: none;
    color: white;
}

.cards{
    width: 500px;
    height: 420px;
    background: rgb(207, 205, 205);
    color: #3e508b;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    margin-left: 10%;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.backknoppie{
    position: relative; left: 510px; top: -300px;
    background-color: rgb(204, 72, 72);
}
.backknoppie:hover{
    position: relative; left: 510px; top: -300px;
    background-color: rgb(204, 72, 72);
    cursor: pointer;
}

.service{
    font-size: large;
    color: #737374;
    font-family: 'Roboto', sans-serif;
    margin-top: -145px;
}

.buslocation{
    font-size: large;
    color: #737374;
    font-family: 'Roboto', sans-serif;
    margin-top: -40px;
}

.viewbtn{
    padding: 10px 10px;
    background-color: #2E67F8;
    color: ghostwhite;
    border-radius: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
  
}

.viewbtn:hover{
    transform: translateY(-0.25rem);
    transition: transform 200ms;
    cursor:pointer;
    background-color: #628efc;
  
  }


